* {
    box-sizing: border-box;
    border: 1px solid rgb(83, 221, 255);
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
}

.block {
    aspect-ratio: 1;
    transition: all 1.5s;
}

.test {
    background-color: #000000;
    transition: all 0s;
}